# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore local configs
*.env
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build artifacts
*.egg-info/
dist/
build/

# Git files
.git/
.gitignore